.form__submit-button_inactive {
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.form__error_visible {
  max-width: 250px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(66, 164, 24, 1);
  margin: 0;
}
