.video {
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/Images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg");
  background-size: cover;
  z-index: -1;
  background-position: center center;
  animation: zoom 20s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1); /* Initial scale */
  }
  100% {
    transform: scale(1.2); /* Zoomed scale */
  }
}

.video__text-container {
  margin: 200px 0 0 150px;
}

.video__header {
  font-size: 64px;
  margin: 0 0 24px 0;
  color: #ffffff;
  font-weight: 700;
}

.video__description {
  margin: 0;
  color: #ffffff;
  width: 567px;
}

.video__link-container {
  margin: 24px 0 0 150px;
  display: flex;
  flex-direction: row;
}

.video__play-circle {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__link-text {
  margin: 0 0 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
}

.video__play-logo {
  width: 20px;
  height: 20px;
  background-image: url("../images/Icons/Basic_Icons/Play_button_triangle.svg");
}
